<a href="https://colab.research.google.com/github/Dinarque/INALCO_Inalco_M2_langage_de_scripts_2024_eleves/blob/main/Cours/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Quelques exercices et mse en pratique du cours sur pandas

# I) Les exemples du cours

In [1]:
import pandas as pd

# Créer un DataFrame de notes d'élèves
data = {
    'Nom': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'],
    'Classe': ['1A', '1A', '1B', '1B', '1A'],
    'Mathématiques': [15, 12, 9, 14, 16],
    'Physique': [13, 14, 11, 10, 17],
    'Informatique': [18, 16, 12, 15, 19],
    'Anglais': [14, 13, 15, 12, 16]
}

df_notes = pd.DataFrame(data)

# Afficher la table des notes
print(df_notes)


# Afficher les premières lignes du DataFrame
print("1. Affichage des premières lignes :")
print(df_notes.head())

# Afficher des informations sur le DataFrame
print("\n2. Informations sur le DataFrame :")
print(df_notes.info())

# Calculer des statistiques descriptives
print("\n3. Statistiques descriptives :")
print(df_notes.describe())

# Sélectionner une colonne
print("\n4. Sélection de la colonne 'Mathématiques' :")
print(df_notes['Mathématiques'])

# Sélectionner une ligne par son index (par exemple, l'élève Alice)
print("\n5. Sélection de la ligne de l'élève 'Alice' :")
print(df_notes.loc[df_notes['Nom'] == 'Alice'])

# Filtrer les élèves qui ont une note supérieure à 15 en Informatique
print("\n6. Élèves ayant une note supérieure à 15 en Informatique :")
print(df_notes[df_notes['Informatique'] > 15])

# Ajouter une nouvelle colonne avec la moyenne des notes
df_notes['Moyenne'] = df_notes[['Mathématiques', 'Physique', 'Informatique', 'Anglais']].mean(axis=1)
print("\n7. Ajout d'une colonne 'Moyenne' :")
print(df_notes)

# Trier les élèves par leur moyenne
df_notes_sorted = df_notes.sort_values(by='Moyenne', ascending=False)
print("\n8. Trier les élèves par moyenne décroissante :")
print(df_notes_sorted)

# Enregistrer le DataFrame dans un fichier CSV
df_notes.to_csv('notes_eleves.csv', index=False)
print("\n9. Le tableau a été sauvegardé dans 'notes_eleves.csv'.")

       Nom Classe  Mathématiques  Physique  Informatique  Anglais
0    Alice     1A             15        13            18       14
1      Bob     1A             12        14            16       13
2  Charlie     1B              9        11            12       15
3    David     1B             14        10            15       12
4     Emma     1A             16        17            19       16
1. Affichage des premières lignes :
       Nom Classe  Mathématiques  Physique  Informatique  Anglais
0    Alice     1A             15        13            18       14
1      Bob     1A             12        14            16       13
2  Charlie     1B              9        11            12       15
3    David     1B             14        10            15       12
4     Emma     1A             16        17            19       16

2. Informations sur le DataFrame :
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nom            5 non-null      object
 1   Classe         5 non-null      object
 2   Mathématiques  5 non-null      int64
 3   Physique       5 non-null      int64
 4   Informatique   5 non-null      int64
 5   Anglais        5 non-null      int64
dtypes: int64(4), object(2)
memory usage: 368.0+ bytes
None

3. Statistiques descriptives :
       Mathématiques   Physique  Informatique    Anglais
count       5.000000   5.000000      5.000000   5.000000
mean       13.200000  13.000000     16.000000  14.000000
std         2.774887   2.738613      2.738613   1.581139
min         9.000000  10.000000     12.000000  12.000000
25%        12.000000  11.000000     15.000000  13.000000
50%        14.000000  13.000000     16.000000  14.000000
75%        15.000000  14.000000     18.000000  15.000000
max        16.000000  17.000000     19.000000  16.000000

4. Sélection de la colonne 'Mathématiques' :
0    15
1    12
2     9
3    14
4    16
Name: Mathématiques, dtype: int64

5. Sélection de la ligne de l'élève 'Alice' :
     Nom Classe  Mathématiques  Physique  Informatique  Anglais
0  Alice     1A             15        13            18       14

6. Élèves ayant une note supérieure à 15 en Informatique :
     Nom Classe  Mathématiques  Physique  Informatique  Anglais
0  Alice     1A             15        13            18       14
1    Bob     1A             12        14            16       13
4   Emma     1A             16        17            19       16

7. Ajout d'une colonne 'Moyenne' :
       Nom Classe  Mathématiques  Physique  Informatique  Anglais  Moyenne
0    Alice     1A             15        13            18       14    15.00
1      Bob     1A             12        14            16       13    13.75
2  Charlie     1B              9        11            12       15    11.75
3    David     1B             14        10            15       12    12.75
4     Emma     1A             16        17            19       16    17.00

8. Trier les élèves par moyenne décroissante :
       Nom Classe  Mathématiques  Physique  Informatique  Anglais  Moyenne
4     Emma     1A             16        17            19       16    17.00
0    Alice     1A             15        13            18       14    15.00
1      Bob     1A             12        14            16       13    13.75
3    David     1B             14        10            15       12    12.75
2  Charlie     1B              9        11            12       15    11.75

9. Le tableau a été sauvegardé dans 'notes_eleves.csv'.

In [2]:
# Grouper les élèves par classe et calculer la moyenne des notes
grouped = df_notes.groupby('Classe').mean()

print(grouped)

        Mathématiques   Physique  Informatique    Anglais  Moyenne
Classe
1A          14.333333  14.666667     17.666667  14.333333    15.25
1B          11.500000  10.500000     13.500000  13.500000    12.25

In [3]:
# Utilisation de value_counts() pour compter le nombre d'élèves par classe
classe_counts = df_notes['Classe'].value_counts()

print(classe_counts)

1A    3
1B    2
Name: Classe, dtype: int64